In [6]:
nome = "camila"
idade = 35
altura = 1.70
print(type(nome))
print(type(idade))
print(type(altura))

<class 'str'>
<class 'int'>

In [9]:
nome = "coracaozinho"
idade = 20
print(f"ol치, {nome}")

ol치, coracaozinho

In [11]:
idade1 = 20
idade2 = 35

somaIdades = idade1 + idade2 
print(somaIdades)

55

In [12]:
idade1 = 20
idade2 = 35

print(idade1 - idade2 )
print(idade1 * idade2 )
print(idade1 / idade2 )

-15
700
0.5714285714285714

In [13]:
print(idade1 + 10 )
print(idade1 - 15 )
print(idade1 * 4 )
print(idade1 / 5 )

30
5
80
4.0

In [14]:
print(2 *(idade1 + idade2))
print(2 * idade1 + 3 *  idade2 / 4) 
print((2 * idade1 + 3 *  idade2) / 4)

110
66.25
36.25

In [15]:
print(idade1 ** 2)
print(15 ** 2)

400
225

In [16]:
print(idade2 // idade1)
print(idade2 / idade1)

1
1.75

In [17]:
print(idade2 % idade1)

15

In [19]:
nome = "Camila"
sobrenome = "Dantas"
print(nome + " " + sobrenome)

Camila Dantas

In [24]:
print(f'Ol치, {nome} voce tem {idade1 + 15} anos.')

Ol치, Camila voce tem 35 anos.